<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div style="text-align:center">
        <h3>
          {{ title }}!
        </h3>
      </div>
    </div>
    <div class="col-sm-9">

      <h3 class="mt-5">Users:</h3>

      <div class="list-group list-group-flush">
        <a *ngFor="let user of usersList" href="#" class="list-group-item list-group-item-action">
          {{ user.name }}
        </a>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="userName">User first name</label>
              <div class="input-group">
                <input id="userName" class="form-control" placeholder="yyyy-mm-dd" name="dp" type="text">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>

      <button class="btn btn-primary mt-4" (click)="open(content)">Add new user</button>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
