<div class="container">
    <div class="user-card mt-5">
        <h3>{{ userCurrent?.name }}</h3>
        <div class="row">
            <div class="col-sm-4">
                <img class="user-card__img" src="{{ userCurrent?.picture }}" alt="">
            </div>
            <div class="col-sm-8">
                <p>{{ userCurrent?.about }}</p>
                <p *ngIf="userCurrent.registered"><b>Registered: </b>{{ clear(userCurrent.registered) | date:'yyyy-MM-dd HH:mm' }}</p>
            </div>
        </div>
    </div>
    <pre class="pre-formatted" [innerHTML]="syntaxHighlight(userCurrent)"></pre>
  <div *ngIf="isLoading" class="preloader">
    <span class="preloader__circle"></span>
  </div>
</div>
